/* General styles */
body {
    background-color: wheat;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo {
    font-size: 24px;
    font-family: satisfy;
    color:tomato;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links li a {
    color: tomato;
    text-decoration: none;
}

/* Hamburger menu styles */
.burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.line1, .line2, .line3 {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 3px;
}
.content{
    font-family: satisfy;
    padding:20px;
    color:brown;
}
.content p{
    font-size:30px;
}
/* Responsive styles */
@media screen and (max-width: 768px) {
    .nav-links {
        display: none;
    }

    .burger {
        display: flex;
    }

    .burger.active .line1 {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .burger.active .line2 {
        opacity: 0;
    }

    .burger.active .line3 {
        transform: rotate(45deg) translate(-5px, -6px);
    }

    .nav-links {
        flex-direction: column;
        align-items: center;
        background-color: #333;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        padding: 20px 0;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .nav-links li a {
        color: #fff;
    }
}
